@charset "UTF-8";
body{
    background-color: aquamarine;
}
body > h1{
    text-transform: uppercase;
}
a > h2{
    text-transform: uppercase;
    background-color: #3a6d5c;
    width: 200px;
    height: 200px;
    padding: 10pxpx;
    text-align: center;
}
a > h2:hover{
    border-radius: 50%;
    color: aliceblue;
    
}
